body{
   background-color: lightblue;
   border: 2px solid black;
   border-style: dotted;
   width: 600px;
   border-radius: 6px;
   margin: 0px;
   padding: 30px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   margin-bottom: 30px;
}
div{
   border: 1px solid black;
   /* box-shadow: 1px 1px 5px blue; */
   margin: 0;
   padding:15px;
}
img{
   height: 100px;
   float: right;
   border-radius: 10px;
}
table,th,td{
   border: 1px solid;
   border-collapse: collapse;
    
}
#wrapper{
   border: 1px solid black;
   box-shadow: 1px 1px 5px red;
   margin: 0;
   padding:15px;
}
#italic{
   font-family: 'Dancing Script', cursive;
 }
#pacifico{
   font-family: 'Dancing Script', cursive;
   font-family: 'Pacifico', cursive;
}